name: Check for Discord Ranges update

on:
  workflow_dispatch:
  schedule:
    - cron: "* */12 * * *" # every 12 hours

jobs:
  check-discord-ranges-update:
    name: Check Discord Ranges Update
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          architecture: 'x64'
          cache: 'pip'
      - name: Download MassDNS
        uses: actions/checkout@v3
        with:
          repository: 'blechschmidt/massdns'
          path: massdns
      - name: Compile and Install MassDNS
        run: |
          cd ${{ github.workspace }}/massdns && make && sudo make install
      - name: Install dns_brute requirements
        run: pip install -r ${{ github.workspace }}/dns_brute/requirements.txt && pip install discord-webhook
      - name: Run the dns_brute script
        run: python ${{ github.workspace }}/dns_brute/generateList.py -r us-east -i 10000 -o /tmp/resolved_ips_unique.txt -d
      - name: Check the SHA256 sum of the new ranges and compare against the file
        run: python ${{ github.workspace }}/dns_brute/checkNewIPs.py /tmp/resolved_ips_unique.txt ${{ github.workspace }}/dns_brute/latest_sha256.txt ${{ github.workspace }}/dns_brute/latest_ranges.txt ${{ secrets.DISCORD_WEBHOOK_URL }}
